
input {
    width: 500px;
    font-size: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: transparent;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .containered {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titre {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  body {
    overflow: hidden;
  }